nav, footer, #main-container, #status-bar, #save-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav, footer, #save-button, #deck-list {
  font-family: 'IM Fell DW Pica', serif;
  font-weight: 500;
}

nav, footer {
  width: 100vw;
  color: rgba(0, 0, 0, 0.8);
  background-color: hsla(0, 0%, 41%, 0.35);
}

footer {
  height: 5.5vh;
  position: absolute;
  bottom: 0px;
  font-size: 2.25vh;
}

nav {
  height: 6vh;
  position: fixed;
  top: 0px;
  font-size: 3vh;
}

/* #navbar {
  background-color: hsla(0, 0%, 41%, 0.5);
} */

.navlink {
  margin: 0vh 1.75vw;
}

#main-container {
  position: absolute;
  left: 50vw;
  top: 6vh;
  height: 88.5vh;
  width: 0vh;
  background-color: hsla(0, 0%, 41%, 0.5);
}

#brand {
  top: 9vh;
  font-family: 'Grechen Fuemen', cursive;
  font-size: 26vh;
  color: rgba(99, 50, 15, 0.35);
  /* background-color: hsla(0, 0%, 41%, 0.5); */
}

#game, #grid, #status-bar, .game-deck, .deck-cell, .score, #brand, .card {
  position: absolute;
  z-index: -1;
}

#collection-container {
  position: absolute;
  top: 0vh;
  height: 88.5vh;
  width: 103vh;
  /* border-top: .3vh solid rgba(99, 50, 15, 0.5); */
  border-left: .25vh solid rgba(99, 50, 15, 0.5);
  border-right: .25vh solid rgba(99, 50, 15, 0.5);
  box-shadow: 0px 0px 8px rgb(99, 50, 15);
  /* background-color: hsla(0, 0%, 41%, 0.5); */
}

#collection {
  position: absolute;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: 1vh;
  row-gap: 1vh;
  justify-content: left;
  top: 23.4vh;
  height: 65.1vh;
  width: 102.4vh;
  padding: 1.3vh;
  overflow-x: hidden;
  border-top: .25vh solid rgba(99, 50, 15, 0.5);
  /* background-color: hsla(0, 0%, 41%, 0.5); */
}

.collection-deck {
  position: absolute;
  display: flex;
  flex-direction: row;
  /* grid-auto-flow: row;
  grid-template-columns: auto auto auto auto auto; */
  /* top: 2vh; */
  height: 23.5vh;
  width: 103vh;
  justify-content: space-around;
  padding: 1.75vh 1.25vh;
  /* background-color: hsla(0, 0%, 41%, 0.5); */
}

#deck-list, #save-button {
  width: 17vh;
  padding: 1vh;
  border-radius: .5vh;

}

#deck-list {
  height: 10vh;
  margin: 0vh .5vh .5vh .5vh;
  overflow-y: scroll;
  border: .25vh solid rgba(99, 50, 15, 0.5);
  box-shadow: 0px 0px 3px rgba(99, 50, 15, 0.5);
  font-size: 1.75vh;
}

#save-button {
  height: 4vh;
  margin: .5vh .5vh 0vh .5vh;
  font-size: 3vh;
  color: rgba(223, 222, 221, 0.9);
  background-color: rgba(99, 50, 15, 0.5);
  box-shadow: 0px 0px 6px rgba(99, 50, 15, 0.5);
}

#save-button:hover {
  color: rgba(238, 238, 238, 0.9);
}

#game {
  height: 75vh;
  width: 93.75vh;
  /* background-color: hsla(0, 0%, 41%, 0.5); */
}

#status-bar {
  left: 6vh;
  bottom: 0.5vh;
  height: 7vh;
  width: 82vh;
  font-family: 'Grechen Fuemen', cursive;
  font-size: 5.5vh;
  font-weight: 600;
  color: rgba(37, 121, 62, 0.89);
  letter-spacing: .25vh;
  /* background-color: hsla(0, 0%, 41%, 0.5); */
}

.score {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 7vh;
  font-style: normal;
  color: lavender;
  text-shadow: -.25vh 0 black, 0 .25vh black, .25vh 0 black, 0 -.25vh black;
}

#player-1-score {
  left: 0vh;
}

#player-2-score {
  left: 78.2vh;
}

#grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  top: 3vh;
  left: 23.5%;
  height: 62.5vh;
  width: 50.5vh;
  /* border: .2vh solid rgba(99, 50, 15, 0.5); */
  /* border-radius: 4px; */
  /* background-color: hsla(0, 0%, 41%, 0.5); */
}

.grid-cell {
  height: 20vh;
  width: 16vh;
  border: .3vh solid rgba(99, 50, 15, 0.5);
  border-radius: 4px;
  /* background-color: hsla(0, 0%, 41%, 0.5); */
}

.game-deck {
  top: 3.25vh;
  height: 61vh;
  /* background-color: hsla(0, 0%, 41%, 0.5); */
}

#deck-1 {
  left: 78.2vh;
}

#deck-2 {
  left: 0vh;
}

.deck-cell-1 {
  top: 0vh;
}

.deck-cell-2 {
  top: 10.4vh;
}

.deck-cell-3 {
  top: 20.8vh;
}

.deck-cell-4 {
  top: 31.2vh;
}

.deck-cell-5 {
  top: 41.6vh;
}

.card {
  /* top: 0vh; */
  height: 19.5vh;
  width: 15.5vh;
  /* border: .25vh solid rgba(0, 0, 0, 0.8); */
}

.player-1-card {
  background-image: linear-gradient(pink, rgb(199, 61, 84));
}

.player-1-card.chosen {
  box-shadow: 0px 0px 12px rgb(192, 31, 58);
}

.player-2-card {
  background-image: linear-gradient(rgb(171, 204, 247), rgb(47, 73, 221));
}

.player-2-card.chosen {
  box-shadow: 0px 0px 12px rgb(61, 84, 216);
}

img {
  height: 19.5vh;
  width: 15.5vh;
}
