#body-container {
  height: 90vh;
}

nav, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  font-weight: 500;
  /* background-color: hsla(0, 0%, 41%, 0.5); */
}

footer {
  bottom: 0px;
}

nav {
  top: 0px;
}

/* #navbar {
  background-color: hsla(0, 0%, 41%, 0.5);
} */

.navlink {
  margin: 0vh 1.25vw;
}
