#body-container {
  height: 90vh;
}

nav, footer {
  display: flex;
  justify-content: center;
  font-weight: 500;
  align-items: center;
  /* background-color: dimgray; */
}

footer {
  bottom: 0px;
  height: 5vh;
}

nav {
  top: 0px;
  height: 5vh;
}

.nav-link {
  margin: 0vw, 1.25vw;
  font-weight: 500;
}
